* {
  padding: 0;
  margin: 0;
  font-family: "Kanit", sans-serif;
  color: aliceblue;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #151317;
}
